{% extends 'base.html.twig' %}

{% block body %}
 {% for user in users %}
 <div class="container">
<h3>{{ user.firstname}} {{ user.lastname}}</h3>
{% if user.imageUrl %}
<img src= "{{user.imageUrl}}" alt="image"/>
{% endif %}
<p>{{user.email}}
<p>{{user.description}}</p>
</div>
{% endfor %}
{% endblock %}